In [1]:
a='cloudxlab'
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [2]:
help(a.translate)

Help on built-in function translate:

translate(...) method of builtins.str instance
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.

In [3]:
help(str.translate)

Help on method_descriptor:

translate(...)
    S.translate(table) -> str

    Return a copy of the string S in which each character has been mapped
    through the given translation table. The table must implement
    lookup/indexing via __getitem__, for instance a dictionary or list,
    mapping Unicode ordinals to Unicode ordinals, strings, or None. If
    this operation raises LookupError, the character is left untouched.
    Characters mapped to None are deleted.

In [11]:
a='cloudxlab'
a[1]='m'

TypeError: 'str' object does not support item assignment

In [16]:
a = "Cloudxlab is a large ed-tech platform for ml and big data"
count = 0
for letter in a:
     if letter == 'l':
        count = count + 1
print (count)

5

In [17]:
result = 'cloud' in 'cloudxlab'
print (result)

True

In [5]:
print(a.upper())

CLOUDXLAB

In [6]:
print(a)

cloudxlab

In [19]:
string = "machine"
print (string == " machine")

False

In [ ]:
my_float=15.85

In [ ]:
my_string="Hello World"

In [ ]:
my_bool=True

In [ ]:
print(my_int)

In [ ]:
bank_balance=200

In [ ]:
print(bank_balance)

In [ ]:
height=50
width=40
area_of_rectangle= height*width
print(area_of_rectangle)

In [ ]:
height=60
width=40
new_area_of_rectangle= height*width
print(new_area_of_rectangle)

In [ ]:
height=1.7
weight=72.25
bmi= weight/(height*height)
bmi= int(bmi)
print(bmi)

In [ ]:
total_interest= 9762.69
type(total_interest)

In [ ]:
print("BMI is" +25)

In [ ]:
print("BMI is"+ str(25))

In [ ]:
bmi=25
bmi_str=str(bmi)
message="BMI is "+ bmi_str
print(message)

In [ ]:
bmi=25
print("BMI is "+ str(bmi))

In [ ]:
first="Cloudx"
second="Lab"
final= first + second
print(final)

In [ ]:
animal="cat"
ten_animals=animal * 10
print(ten_animals)

In [ ]:
animal="cat"
print(animal * 10)

In [ ]:
print("\"\\Sarojkumar\\\"" * 10)

In [ ]:
hours= input('Enter the hours: ')
rate = input('Enter rate: ')
pay = float(hours)*float(rate)
print (pay)

In [ ]:

x = 5
if x > 2 :
    print ('Bigger than 2')
    print ('Still bigger')
    print ('Done with 2')
for i in range(5) :
    print(i)
    if i > 2 :
    print ('Bigger than 2')
    print ('Done with i', i)
    print ('All Done')

In [ ]:
list (range(10))

In [ ]:
month=['Jan','Feb','March']
prices=[234.09,234.98,233.90]
min_prices=min(prices)
print(min_prices)

In [ ]:
print(prices.index(min_prices))

In [ ]:
print(month[2])

In [ ]:
print(month[prices.index(min(prices))])

In [ ]:
print(prices.index(min_prices))

In [ ]:
print("min_index")
print(prices.index(min_prices))

In [ ]:
print("Month with lowsest prices")
print(month[prices.index(min(prices))])

In [ ]:
int(x=input('Enter any number:'))
if x < 20 :
    print ('Below 20')
else :
    print ('Something else')

In [ ]:

x=int(input("Enter a number"))
if x < 2 :
    print ('Below 2')
elif x < 20 :
    print ('Below 20')
elif x < 10 :
    print ('Below 10')
else :
    print ('Something else')

In [ ]:
x=input("Enter a number")
y=x.isdigit()
print(y)

In [ ]:
x=input('Enter a number')
y=x.isdigit()
if y==True:
    print(x)
else:
    print('Enter a number')

In [ ]:
try:
    rate=float(input('Enter a number: '))
except:
    print('Please enter a valid number, this is your last warning')
    rate=float(input('Enter a number:'))

In [ ]:
x=input("Enter a number")
try:
    ival=int(x)
except:
    ival=-1
if ival!=-1:
    print('Good Work')
    print(ival)
else:
    print(ival,'This is not a number')
    print('Enter a number')

In [ ]:
hours=int(input('Enter hours: '))
rate=int(input('Rate: '))
extra_hours =0
total=0
if hours > 40:
    extra_hours= hours-40
    hours=40
    total=(hours*rate)+(extra_hours*(1.5*rate))
else:
    total=(hours*rate)
print('Payment =: ',total)

In [ ]:
try:
    hours=float(input('Enter hours: '))
    rate=float(input('Rate: '))
    if hours>40.0:
        pay=float((hours-40)*(rate*1.5)+(40*rate))
    else:
        pay=float(hours*rate)
    print(pay)
except:
    print("Please enter a valid value")

In [ ]:
def pay_calculator ( hours, rate):
    if hours < 40:
        total_pay= hours*rate
    else:
        total_pay=(40*rate)+((hours-40)*(1.5*rate))
    return total_pay
print(pay_calculator(45,10))

In [ ]:
print(max('Hello world'))

In [ ]:
height=20
width=80
area_of_rectangle=height*width
print(area_of_rectangle)

In [ ]:
type(area_of_rectangle)

In [ ]:
area_of_circle =78.5
area_of_circle=str(area_of_circle)
area_of_circle_msg="Area_of_rectangle is -"+ area_of_circle
print(area_of_circle_msg)

In [ ]:
len("cloudxlab")

In [ ]:
min("cloudxlab")

In [ ]:
square_area=(8.9**2)
print(square_area)
square_area_type=type(square_area)
print("tpye of area ",square_area_type)
square_area_int=int(square_area)
type(square_area_int)
square_area_str=str(square_area_int)
type(square_area_str)

In [ ]:
import math 
print(math)

In [ ]:
math.log10(1000)

In [ ]:
math.cos(0)

In [ ]:
math.pi

In [1]:
math.pi

NameError: name 'math' is not defined

import math

In [2]:
math.sqrt(4)

NameError: name 'math' is not defined

In [4]:
import math
square_root=math.sqrt(56.98)
print(square_root)

7.548509786706248

In [41]:
pi=math.pi
sin_rad=(26/360)*(2*pi)
print(sin_rad)

0.45378560551852565

In [42]:
sin_rad=math.radians(26)
print(sin_rad)

0.4537856055185257

In [27]:
sin_degree=math.sin(sin_rad)
print(sin_degree)

0.4383711467890774

In [12]:
log_e=math.log(1000)
print(log_e)

6.907755278982137

In [38]:
sin_rad=math.radians(26)
print(sin_rad)

0.4537856055185257

In [1]:
import random 
random.random()

0.8740619329301214

In [7]:
for b in range(10):
    number =random.random()
    print(number,'\t',b)

0.40071614126219346 	 0
0.6246878919090466 	 1
0.10277358594675501 	 2
0.6193435184124814 	 3
0.5307668358283478 	 4
0.6728155879994321 	 5
0.05891276977141102 	 6
0.42152349017496993 	 7
0.3946035662926718 	 8
0.5743302595851576 	 9

In [9]:
import random 
random_number= random.random()
random_int=int(random_number)
print(random_int)

0

In [16]:
def print_name():
    name="Cloudxlab"
    print("My name is ", name)
print_name()

My name is  Cloudxlab

In [23]:
def get_name():
    print("Cloudxlab")
get_name()

Cloudxlab

In [27]:
import math
def print_name(value):
    x=value
    print(value)
print_name(str(math.cos(0)))

1.0

In [34]:
def my_function(number):
    xyz=number
    xyz_str=str(xyz)
    xyz_str=xyz_str+"cloudxlab"
    print(xyz_str)
my_function(10)

10cloudxlab

In [14]:
import math
def new_function(num):
    multiplication=num*(math.pi)
    return multiplication
def void_function(num1,num2):
    result=new_function(num1**num2)
    print(result)
void_function(4.6,7.3)

216412.35147094267

In [10]:
void_function(4.6,7.3)

216412.35147094267

In [ ]:
def input_name():
    print("What am I studying?")
    answer=input()
    return(answer)
subject=input_name()
print(subject)

In [9]:
def input_name():
    answer=input("What am I studying\n")
    return(answer)
subject=input_name()
print(subject)

What am I studying
Python
Python

In [13]:
print(type(True))

<class 'bool'>

In [20]:
def bool_func(num1,num2,num3,num4):
    if num1 > num2:
        exp1=str(num2)
    if num1 == num3:
        exp2=str(num3)
    if num2 < num1:
        exp4=str(num1)
    if num4!=num1:
        exp=str(num1)
    return(exp1+exp2+exp3+exp4)
bool_func(1,2,3,4)

UnboundLocalError: local variable 'exp1' referenced before assignment

In [ ]:
def bool_func(num1,num2,num3,num4):
    if

In [27]:
def bool_func(num1,num2,num3,num4):
    exp1 = str(num1 > num2)
    exp2 = str(num1 == num3)
    exp3 = str(num2 <= num3)
    exp4 = str(num4 != num1)
    return (exp1 + exp2 + exp3 + exp4)
bool_func(1,2,3,4)

'FalseFalseTrueTrue'

In [2]:
type(2>3)

bool

In [76]:
def conditional_statements(num1,num2,num3,num4):
    if (num1<num2 and num1>num3 and num1==num4):
        num3<num1 and num2<num2 and num3<num4
        if type(num2)==float and type(num1 and num3 and num4)==int:
            return(num1+num2+num3+num4)
    else:
        return None
conditional_statements(1,2.3,0,1)

4.3

In [44]:
def except_func(num):
    try:
        num=num*num
        return num
    except:
        print('Invalid')

except_func(k)

NameError: name 'k' is not defined

In [49]:
x=input('Enter a number')
num=int(x)
try:
    print=int(num*num)
except:
    print('Invalid')

Enter a number5

In [9]:
prompt= input('Enter your age\n')
int(prompt)
try:
    print(prompt)
except:
    print('You should enter a number:')

Enter your age
5

TypeError: 'int' object is not callable

In [34]:
x=input('enter a number')
type(x)
y=int(x)
type(y)

enter a number5

int

In [1]:
prompt = input("Enter your age\n")
try:
    print (int(prompt))
except:
    print('You should have entered a number')

Enter your age
5
5

In [3]:
import random
number=random.random()
print(number)
print(number+1)

0.7237331877135592
1.723733187713559

In [36]:
def except_func(num):
    try:
        num=num*num
        return num
    except:
        return 'invalid number'
except_func('Sample')

'invalid number'

In [28]:
x=input("Enter a number\n")
try:
    print(x*x)
except:
    print('Invalid number')

Enter a number
5
Invalid number

In [ ]:
while True:
    line=input('> ')
    if line=='done':
        break
    while True:
        name=input('... ')
        if name==(""):
            break
    print(line)
print ('Done')

> saroj
...
saroj

In [ ]:
for n in [5,4,3,2,1]:
    for i in range(n):
        print('*')
    n=n-1

In [2]:
largest=-1
print("Before")
for the_num in [45,3,56,8,0.87]:
    if the_num>largest:
        largest=the_num
    print(largest, the_num)
print('After', largest)

Before
45 45
45 3
56 56
56 8
56 0.87
After 56

In [2]:
initial=0
for sum in [12,32,43,1,9,65]:
    initial=initial+sum
    print(sum, initial)
print('total: ', sum)

12 12
32 44
43 87
1 88
9 97
65 162
total:  65

In [6]:
def print_even(n):
    even=0
    m=n//2
    if n>0:
        for a in range(0,m+1):
            print(even)
            even=even+2
x=int(input('Enter a number:\n'))
print_even(x)

Enter a number:
0

In [5]:
def compound_interest(principle, rate, year):\
    #ori_principle=principle
    for i in range(1,year+1):
        interest= (principle*rate*1)/100
        new_principle=principle+interest
    comp_interest= new_principle-principle
    print(type(interest),'Year',year,'i', i)
    print('Principle',principle)
    print('acuumulated_value',new_principle)
    return comp_interest
#print('Calculation of compound interst:\n')
#x=float(input('Enter the principle:\n'))
#y=float(input('Enter the rate:\n'))
#z=int(input('Enter year:\n'))
#print('The compound interest is:',compound_interest(x, y, z)
compound_interest(float (100),float (5), int (2))

<class 'float'> Year 2 i 2
Principle 100.0
acuumulated_value 105.0

5.0

In [29]:
def add(num1, num2):
    print("Datatype of num1 is ", type(num1))
    print("Datatype of num2 is ", type(num2))
    return num1 + num2
print(add(float(2), float(3)))

Datatype of num1 is  <class 'float'>
Datatype of num2 is  <class 'float'>
5.0

In [25]:
def compound_interest(principle, rate, year):
    ori_principle=principle
    new_principle=principle
    for i in range (1,year+1):
        interest=(new_principle*rate*1)/100
        new_principle=new_principle+interest
        print('year',i, 'interest',interest,'principle',new_principle)
    comp_interest=new_principle-ori_principle
    print(new_principle, ori_principle)
    return comp_interest
print('compound interest:\t',compound_interest(float(100), float(5), int(2)))

year 1 interest 5.0 principle 105.0
year 2 interest 5.25 principle 110.25
110.25 100.0
compound interest:	 10.25

In [38]:
def sum_func(num):
    if type(num)==int and num>=0:
        sum=0
        for i in range (num+1):
            sum=sum+i
        return sum
    else:
        return -1
sum_func(0)

0

In [ ]:
def sum_func(num):
    if type(num)==int and num >=0:
        sum=0
        i=0
        while i<num:
            sum=sum+1
            i+1
        return sum
    else:
        return -1
print(sum_func('jh'))

In [2]:
total = 0
while True:
    n = input("Enter 1 to enter a number,  Enter 2 to stop the process\n")
    if n is "1":
        number = input("Enter the number\n")
        try:
            total = total + int(number)
        except:
            print("Please enter a valid number\n")
            continue
    elif n is "2": 
        break
    else:
        print("Please enter a valid choice\n")
        continue

Enter 1 to enter a number,  Enter 2 to stop the process
1
Enter the number
4
Enter 1 to enter a number,  Enter 2 to stop the process
1
Enter the number
5
Enter 1 to enter a number,  Enter 2 to stop the process
2

In [11]:
def special_func(num):
    total=0
    if type(num)==int and num >=0:
        for i in range (1,num+1):
            if num%i==0 and i%2!=0:
                total+=i
        return total
    else:
        return -10
special_func('abcd')

-10

In [19]:
def special_func(num):
    total=0
    if type(num)is int and num >=0:
        i=1
        while i< num:
            if num%i==0 and i%2!=0:
                total+=i
            i+=1
        return total
    else:
        return -10
special_func(12)

4

In [70]:
def str_func(string):
    length=len(string)
    last=-1
    for i in range(length):
        last+=1
        #print(last,i)
    return (string[last])
def sum_str_func(string):
    string=str(string)
    sum=0
    length=len(string)
    for i in range (length): 
        sum=(sum+int(string[i]))
        print(sum, string[i])
    return sum
sum_str_func(1234)
str_func('Imphal')

1 1
3 2
6 3
10 4

'l'

In [14]:
def str_fucn(n):
    x=n[len(n)-1]    
    return x
str_func('Imphal')

Imphal

In [26]:
def str_func(str):
    length = len(str)
    last = 0
    while last != (length -1):
        last = last + 1
    return (str[last])
str_func('Imphal')

'l'

In [67]:
def sum_str_func(m):
    n = str(m)
    l = len(n)
    sum = 0
    p = 0
    while p != (l):
        sum = int(n[p]) + sum
        p = p +1
    return(sum) 
sum_str_func(1234)

10

In [12]:
def email_func(email):
    email=str(email)
    position=email.find('@')
    return ('False')
email_func('sadkouemfail')

'False'

In [15]:
s='saroj kimar sinh'
length=len(s)
print(length)

16

In [ ]:
def email_func(email):
    email=str(email)
    position=email.find('@')
    first_part=0
    second_part=0
    if position !=-1:
        while postion!=' ':
            first_part=position
            first_part-=1
        while positioon!=' ':
            second_part=position
            second_part+=1

In [46]:
txt = "welcome to the jungle hsmdnd@gmail ksjo kjh"
x = txt.split('@')
print(x)
b=x[1].split(' ')
print(x[1].split(' '))
print(len(b))

['welcome to the jungle hsmdnd', 'gmail ksjo kjh']
['gmail', 'ksjo', 'kjh']
3

In [58]:
def email_func(string):
    s = string.find('@')
    if s==-1:
        return False
    else:
        email = string.split('@')
        b1 = email[0].split(' ')
        b2 = email[1].split(' ')
        i=len(b1)
        print(b2[0])
        print(b1[i-2])
        e = b1[i-1] + "@" + b2[0]
        return e
email_func("this is first abhinav@cloudxlab.com and this is second sandeep@cloudxlab.com")

cloudxlab.com
first

'abhinav@cloudxlab.com'

In [33]:
def email_func(mail):
    position=mail.find('@')
    first=0
    second=0
    if position==-1:
        return False
    else:
        first=second=position
        while first>=0 and mail[first]!= ' ':
            first-=1
        while second<len(mail) and mail[second]!=' ':
            second+=1
        mail=mail[first+1:second]
    return mail
email_func("a @a")

'@a'

In [7]:
x='this is first abhinav@cloudxlab.com and'
position=x.find('@')
first=second=position
while first>=0 and x[first]!=' ':
    first-=1
while second>=0 and x[second]!=' ':
    second+=1
print(x[first:second])

 abhinav@cloudxlab.com

In [1]:
import re
text = "Please contact us at contact@tutorialspoint.com for further information."+\
        " You can also give feedbacl at feedback@tp.com"


emails = re.findall(r"[a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+", text)
print (emails)

['contact@tutorialspoint.com', 'feedback@tp.com']

In [21]:
x='imphal'
try:
    if x[6] is True:
        print(x[6])
except:
    print('Invalid')

Invalid

In [7]:
a=73
b="%d"%(a+a)
print(b)
type(b)

146

str

In [8]:
b =  "%d is an integer, %g is floating-point and %s is string" % (23, 23.34, "Twenty-Three")
print(b)

23 is an integer, 23.34 is floating-point and Twenty-Three is string

In [9]:
print('%d+3' % 3)

3+3

In [10]:
print("%f %f %s")

%f %f %s

In [15]:
a = [12, 3.4, 34, 'cloudxlab', [2.3, 1.4]]
print(a)
a[1] = 4
print(a)
print(3 in a)

[12, 3.4, 34, 'cloudxlab', [2.3, 1.4]]
[12, 4, 34, 'cloudxlab', [2.3, 1.4]]
False

In [25]:
a = [1,2,3,4,5]
for number in a:
   print(number)
for number in range(len(a)):
    a[number] = a[number] + 1
print(a)

1
2
3
4
5
[2, 3, 4, 5, 6]

In [22]:
for number in range(len(a)):
    a[number] = a[number] + 1

In [36]:
a = [1,2,3]    
c = a * 3
print(c)
add=0
for i in range (len(c)):
    add+=c[i]
print(add)

[1, 2, 3, 1, 2, 3, 1, 2, 3]
18

In [40]:
a = [1,2,3,4,5,6,7,8,9]
s=a[2:5]
add=0
for i in range (len(s)):
      add+=s[i]
print(add)

12

In [33]:
a = [1,2,3,4,5,6,7,8,9]
a[2:5] = [7,4,9]
print(a)
add=0
#length=len(a)
for i in range(len(a)):
    add=add + a[i]
print(add)

[1, 2, 7, 4, 9, 6, 7, 8, 9]
53

In [46]:
a = [23,12,32,1,2,34,56]
a.append(12)
print(a)
print(a[len(a)-2])
a.extend(a)
add=0
for i in range (len(a)):
    add+=a[i]
print(add)

[23, 12, 32, 1, 2, 34, 56, 12]
56
344

In [48]:
a.sort()
print(a)
print(a[2] + a[7])

[1, 1, 2, 2, 12, 12, 12, 12, 23, 23, 32, 32, 34, 34, 56, 56]
14

In [62]:
list1 = [12,23,43,[2,4,5], 2, 4,5]
list1.pop(3)
print(list1)
add=0
print(len(list1))
for i in range (len(list1)):
    add=add+list1[i]
    print(add,list1[i])
print(add)

[12, 23, 43, 2, 4, 5]
6
12 12
35 23
78 43
80 2
84 4
89 5
89

In [52]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list2[1]
print(list2)
list2.remove('lab')

['cloudx', 'provides', 'cloud', 'lab']

In [54]:
list2 = ['cloudx', 'lab', 'provides', 'cloud', 'lab']
del list2[:]
len(list2)

0

In [12]:
s='This is a sample file for testing for Python course for learners in CloudxLab.'
l=s.split(' ')
print(l)
length=len(''.join(l))
print(length)
type(length)
#print(l)
#print(len(l))

['This', 'is', 'a', 'sample', 'file', 'for', 'testing', 'for', 'Python', 'course', 'for', 'learners', 'in', 'CloudxLab.']
65

int

In [79]:
def exchange(m):
    count=len(m)
    list1=list(m)
    temp=list1[0]
    list1[0]=list1[count-1]
    list1[count-1]=temp
    ex_str=''.join(list1)
    return ex_str
    
def str_list_func(arg):
    sep=arg.split()
    length=len(sep)
    list2=sep
    for i in range(length):
        list2[i]=exchange(sep[i])
    final_str=' '.join(list2)
    return final_str
    
str_list_func('I am learning Python at CloudxLab')

'I ma gearninl nythoP ta bloudxLaC'

In [55]:
a=['cloud','x','lab']
b=' '.join(a)
print(b)

cloud x lab

In [69]:
def exchange(m):
    count=len(m)
    list1=list(m)
    temp=list1[0]
    list1[0]=list1[count-1]
    list1[count-1]=temp
    ex_str=''.join(list1)
    return ex_str
exchange('imphal')

'lmphai'

In [12]:
liat1=[]
liat1=['abcd']
print(liat1)

['abcd']

In [19]:
a='Airpot'
count=len(a)
list1=list(a)
print(list1)
temp=list1[0]
list1[0]=list1[count-1]
list1[count-1]=temp
print(list1)

['A', 'i', 'r', 'p', 'o', 't']
['t', 'i', 'r', 'p', 'o', 'A']

In [6]:
a = "cloudxlab"
list1=list(a)
print(list1)
list2=' '.join(list1)
print(list2)

['c', 'l', 'o', 'u', 'd', 'x', 'l', 'a', 'b']
c l o u d x l a b

In [15]:
temp=['c', 'l', 'o', 'u', 'd', 'x', 'l', 'a', 'b']
temp2=' '.join(temp)
print(temp2)

c l o u d x l a b

In [28]:
a = [23,12,32,1,2,34,56]
b=[2,4,5]
b.extend(a)
print(b)

[2, 4, 5, 23, 12, 32, 1, 2, 34, 56]

In [17]:
def file_read_func(path):
    try:
        f=open('path')
        f1=f.split('')
        length=''.join(f1)
        return length
    except:
        return -1
file_read_func('/cxldata/python_sample_file')

-1

In [3]:
def count_words(file):
    l=file.split(' ')
    rem=[]
    for x in l:
        rem.append(x.replace('\n',''))
    length=len(''.join(rem))
    #print(rem)
    return length
def file_read_func(path):
    try:
        with open(path) as f:
            f1=""
            count=0
            for line in f:
                f1=f1+line
            print(f1)
            count=count_words(f1)
            return count
    except:
        return -1
file_read_func('/cxldata/python_sample_file')

This is a sample file for testing
for Python course for
learners in CloudxLab.

65

In [ ]:
list1 = ["Starbucks\n", "has the \nbest", "coffee\n\n "]
rez = []

for x in list1:
    rez.append(x.replace("\n", ""))

print("New list : " + str(rez))

In [9]:
with open("/cxldata/python_sample_file") as f:
    s = ""
    for line in f:
        print(line)
        s = s+ line
    print(s)

This is a sample file for testing

for Python course for

learners in CloudxLab.

In [14]:
with open('This is a sample file for testing for Python course for learners in CloudxLab.') as f:

SyntaxError: unexpected EOF while parsing (<ipython-input-14-ef53e7c92cc3>, line 2)

In [ ]:
def file_read_func(path):
    try:
        with open(path) as f:
            s=0
            for line in f:
                for word in line.split():
                    s=s+len(word)
                return s    
    except:
        return -1

In [2]:
def file_read_func(string):


    try:
        x=open(string)

        sum=0

        for line in x:
            u=line.split()
            for words in u:
                a=len(words)
                #a+=0

            sum+=a
            return sum





    except:

        return -1
file_read_func('/cxldata/python_sample_file')

7

In [4]:
check = 0
with open("/cxldata/python_sample_file") as f:
    for line in f:
        if(line.startswith('w')):
            check = check + 1
        print(check)

0
0
0

In [6]:
with open("/cxldata/python_sample_file", 'r') as f:
    print(f.read())

This is a sample file for testing
for Python course for
learners in CloudxLab.

In [10]:
with open ('python_file_writing.txt','w') as f:
    f.write('I am learning pyhton in CloudxLab')
with open ('/home/*your_username*/cloudxlab_jupyter_notebooks') as f:
    print(f.read())

FileNotFoundError: [Errno 2] No such file or directory: '/home/*your_username*/cloudxlab_jupyter_notebooks'

In [3]:
counts=dict()
line= input('Enter a line of text:')
words=line.split()
print('Words:', words)
print('Counting...')
for word in words:
    counts[word]= counts.get(word,0)+1
print("Counts", counts)

Enter a line of text:Imphal is the capital of Manipur
Words: ['Imphal', 'is', 'the', 'capital', 'of', 'Manipur']
Counting...
Counts {'Imphal': 1, 'is': 1, 'the': 1, 'capital': 1, 'of': 1, 'Manipur': 1}

In [4]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.get("price", 15000)

print(x)

15000

In [1]:
fhand=open('mbox.txt')
counts=dict()
for line in fhand:
    words=line.split()
    print(words)
    for word in words:
        counts(word)=counts.get(word,0)+1
        print(counts)

SyntaxError: can't assign to function call (<ipython-input-1-c312a128d475>, line 7)

In [1]:
numbers = {"1" : "One", "2" : "Two"}
print(numbers["1"])

One

In [2]:
(0, 1, 2000000) < (0, 3, 4)

True

In [3]:
d = dict()
print(d)
d['1 rupee coins'] = 10
d['2 rupees coins'] = 5
d['5 rupees coins'] = 6
d['10 rupees coins'] = 12
print(d)
print(d['5 rupees coins']+d['10 rupees coins'])

{}
{'1 rupee coins': 10, '2 rupees coins': 5, '5 rupees coins': 6, '10 rupees coins': 12}
18

In [7]:
d = { 'one' : 1 , 'two' : 2, 'three' : 3, 'four': 4 }
print(len(d))
print('three' in d)
print(4 in d)
print(5 in d and 2 in d)

4
True
False
False

In [13]:
d = {"apples" : 2, "bananas" : 3, "carrots" : 12}
print(d.get("oranges",0))
for fruit in d:
    print(fruit,'\t',d.get(fruit))

0
apples 	 2
bananas 	 3
carrots 	 12

In [7]:
def dict_func(arg):
    counts={}
    lst=arg.split()
    for word in lst:
        counts[word]=counts.get(word,0)+1
    return counts
dict_func('the quick brown fox jumps over the lazy dog')

{'the': 2,
 'quick': 1,
 'brown': 1,
 'fox': 1,
 'jumps': 1,
 'over': 1,
 'lazy': 1,
 'dog': 1}

In [1]:
counts = dict()
line = input('Enter a line:')
words = line.split()
print('Words:', words)
print('Counting...')
for word in words:
    counts[word] = counts.get(word,0) + 1
print('Counts', counts)

Enter a line:the quick brown fox jumps over the lazy dog
Words: ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
Counting...
Counts {'the': 2, 'quick': 1, 'brown': 1, 'fox': 1, 'jumps': 1, 'over': 1, 'lazy': 1, 'dog': 1}

In [11]:
t = (1)
type(t)

int

In [15]:
t = tuple()
t1 = tuple("1,2,3,4,5")
t2 = tuple([1,2,3,4,5])
t3 = tuple((1,2,3,4,5))
print(t1)
print(t2)
print(t3)

('1', ',', '2', ',', '3', ',', '4', ',', '5')
(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5)

In [10]:
t = (1,3,5,2,54,34,2,34,5)
l = len(t)
print(t[l-2])
t2=t[2:5]

def add(t):
    sum=0
    for i in t:
        sum+=i
    return sum
t3=t[1:3]+t2[:]
print('t2:',t2)
print('t3:', t3)
print(add(t2))
print(add(t3))

34
t2: (5, 2, 54)
t3: (3, 5, 5, 2, 54)
61
69

In [13]:
l = [(0,23,34), (2,34,23), (1,34,23)]
print(l.sort())
print(l[2])
def add(t):
    sum=0
    for i in t:
        sum+=i
    return sum
print(add(l[2]))

None
(2, 34, 23)
59

In [31]:
def dict_tuple_func(arg):
    emp={}
    tup=()
    for word in arg:
        emp[word]=emp.get(word,0)+1
    print(emp)
    tup=(emp,sum(list(emp.keys())))
    
    print(emp.keys())
    return tup

dict_tuple_func([1, 2, 3, 1, 2, 3])

{1: 2, 2: 2, 3: 2}
dict_keys([1, 2, 3])

({1: 2, 2: 2, 3: 2}, 6)

In [2]:
from urllib import*
fhand=request.urlopen('http://www.py4inf.com/code/romeo.txt')
for line in fhand:
    print(line.strip())

b'But soft what light through yonder window breaks'
b'It is the east and Juliet is the sun'
b'Arise fair sun and kill the envious moon'
b'Who is already sick and pale with grief'

In [ ]:
res = sum(list(test_tup))